<%= @restaurants.name %>
<h1><%= link_to 'New review', new_restaurant_review_path%></h1>
<%= link_to 'Delete', restaurant_path(@restaurants), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>